{% extends 'core/base.html' %}

{% block title %}
  {{ product.title }}
{% endblock %}

{% block meta %}
  <meta name="description" content="{{ product.description }}" />
  <meta name="author" content="PetNet Sarb" />
  <meta name="og:title" content="PetNet | {{ product.title }}" />
  <meta name="og:description" content="{{ product.description }}" />
  <meta name="og:type" content="Article" />
  <meta name="og:url" content="http://petnet.com{% url 'product_detail' product.category.slug product.slug %}" />
  {% if product.image %}
    <meta name="og:image" content="http://petnet.com{{ product.image.url }}" />
  {% endif %}
{% endblock %}

{% block content %}
  <div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="Image of {{ product.title }}" class="rounded-xl" />
      {% endif %}
    </div>
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
      <h1 class="text-2xl">{{ product.title }}</h1>
      {# prettier-ignore-start #}
  <p class="text-xs text-gray-500">
    ${{ product.get_display_price }} - <a href="{% url 'vendor_detail' product.user.id %}">{% firstof product.user.get_full_name product.user.username %}</a>
  </p>
  {# prettier-ignore-end #}
      {% if product.description %}
        <p class="mt-4">{{ product.description }}</p>
      {% endif %}

      <a href="{% url 'add_to_cart' product.id %}" class="inline-block mt-4 px-8 py-4 bg-blue-600 hover:bg-blue-900 rounded-xl text-white">Add to cart</a>
    </div>
  </div>

  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related items</h2>

    <div class="grid grid-cols-3 gap-3">
      {% for product in related_products %}
        <div>
          <a href="{% url 'product_detail' product.category.slug product.slug %}">
            <div>
              <img src="{{ product.get_thumbnail }}" alt="Image of {{ product.title }}" class="rounded-xl" />
            </div>
            <div class="">
              <h2 class="text-2xl">{{ product.title }}</h2>
              <p class="text-gray-500">Price: ${{ product.get_display_price }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
