{% extends 'core/base.html' %}

{% block title %}
  About
{% endblock %}

{% block meta %}
  <meta name="description" content="PetNet is the best online store for pets" />
  <meta name="author" content="PetNet Sarb" />
  <meta name="og:title" content="PetNet | About" />
  <meta name="og:description" content="PetNet is the best online store for pets" />
  <meta name="og:type" content="Article" />
  <meta name="og:url" content="http://petnet.com/about" />
{% endblock %}

{% block content %}
  <h1>About</h1>
{% endblock %}
